body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

input {
    border: 1px solid #c8c4c4;
    border-radius: 4px !important;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

input ::placeholder {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #a39898;
}

.text-title h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: #3c3838;
}

.form-Container {
    width: 60%;
    margin-top: 25%;
}

.text-title p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    /* or 169% */

    text-align: center;

    color: #b4a2a2;
}

.label-input {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;

    color: #3c63d1;
}

.remember-me {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #a39898;
}

.forgotpass {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: none;
    color: #3c63d1;
    text-decoration: none;
}

.log-in-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #ffffff;

    background: #4268d6;
    border-radius: 4px;
    width: 100%;
    height: 49px;
}

.log-in-btn:hover {
    background: #6a8cf1;
    color: #ffffff;
}

.invalid-feedback {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #bb1111;
}
.title-head {
    display: flex;
    justify-content: space-between;
}

.title-head h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #676767;
}
.title-head .add-btn {
    background: #3c63d1;
    border-radius: 50px;
    width: 98px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;

    color: #ffffff;
    margin-bottom: 50px;
    margin-top: 2px;
}
.main-section {
    padding: 24px 34px;
}

/* data table style */

.dataTables_length label,
.dataTables_filter label {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01em;

    color: #000000;
}

.dataTables_filter label input {
    border: 1px solid #736b6b;
    border-radius: 3px;
    width: 175.41px;
    height: 28px;
}

table thead th {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01em;

    color: #000000;
}
table tbody td {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01em;

    color: #000000;
}
table {
    border: 1px solid #cec2c2;
    border-radius: 4px;
}
.dataTables_info {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01em;

    color: #000000;
}
.dataTables_paginate a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.01em;

    color: #000000;
}
.paginate_button {
    background-color: #ffff;
}
.dataTables_paginate {
    background-color: #ffff;
    border-radius: 4px;
}
.dataTables_paginate .current {
    background: #3c63d1;
    color: #ffff;
}
